/* Will be compiled down to a single stylesheet with your sass files */


.myLabel {
  position: relative !important;

}

.dashboard {
  margin-top: 20px;
}

.dashboard .range-slider {
  margin-left: 30px;
  margin-right: 30px;
}
.page {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.page .btn-group {
  display: none;
}

.page:hover .btn-group {
  display: block;
}

.page > div > a{
  font-size: 18px;
}

.page.active {
  background-color: rgb(230, 126, 34);
  
}
.page.active > div > a{
  color: white;
}
.question > div > a{
  color: #555;
}

.author .nav {
  padding: 5px;
  height: 500px;
  overflow: auto;
  border: 2px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.author .nav.col-options {
  height: 230px;
}

body {
padding-top: 0px;
padding-bottom: 0px;
background-color: #f5f5f5;
}

.navbar {
    margin-bottom: 0;
}

.admin-edit {
    position: absolute;
    top: 10px;
}

.respondant {
max-width: 800px;
padding: 9px 29px 29px;
margin: 0 auto;
background-color: #fff;
border: 1px solid #e5e5e5;
/*-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;*/
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

.question input[type="number"] {
    height: 40px;
}

.question .unit-select {
  height: 59px;
  font-weight: bold;
  font-size: 20px;
}

.pull-right + .pull-right {
    margin: 0 5px;
}

.buttons {
    margin: 10px 0;
}
.buttons .btn {
    margin-left: 5px;
}
button[type='submit'] {
    margin-top: 15px;
    margin-bottom: 0px;
}
form {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 20px;
}

select + input {
    margin-top: 10px;
}

.pennies .icon-circle {
    font-size: 24px;
}

.dist-gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}
.green {
    background-color: green;
    color: white;
}
.gridStyle .ngCellElement:focus {
    background-color: inherit;
}

.ngRow.even {
    background-color: rgb(253, 253, 253);
    /*background-color: rgb(243, 243, 243);*/
}
.ngRow.odd {
    background-color: rgb(253, 253, 253);
}
.ngRow.selected {
    background-color: rgb(253, 253, 253);
}

p.landing, p.info {
    margin-top: 30px;
    margin-bottom: 55px;
    font-size: 18px;
}
.acitivty-locations-intro p.info,
.pennies-intro p.info { 
    margin-bottom: 30px;
}
.question-title {
    font-size: 20px;
    font-weight: 500 !important;
    line-height: 26px;
    margin-bottom: 25px;
}
.modal-header .question-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.inset-info-section {
    margin-bottom: 40px;
    margin-left: 40px;
}
@media (max-width: 480px) {
    .inset-info-section {
        margin-left: 25px;
    }
}

ul + ul {
    margin-top: 10px;
}
.todo h3 {
    padding-left: 15px;
}
.todo li:nth-last-child(2) {
    border-radius: 0 0 6px 6px;
}
.todo li:first-child {
    border-radius: 6px 6px 0 0;
}
.todo li.option-group-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; 
}

.modal .question {
    max-width: 100%;
}
.question .form {
    width: 100%;
}
.question textarea {
    width: 100%;
}
.progress .bar {
    -webkit-transition: none;
}
form .btn-block {
    width: 100%;
}
.todo-name {
    width: 90%;
}


/* Bootstrap override */
.progress {
    margin-bottom: 0;
}
.row-progress-bar, .row-progress-bar [class*="offset"],  .row-progress-bar [class*="span"] {
    min-height: 25px; /* instead of 30px */
}

@media (max-width: 767px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .respondant {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.resume {
    margin-bottom: 20px;
}

.ngTopPanel {
    height: auto !important;
}

.ngHeaderText {
    padding: 0 5px;
}

.dash .ngHeaderCell {
    text-transform: capitalize;
}



.select2-search-choice > div {
    white-space: nowrap;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.heatmap {
  height: 400px;
}


.dash .map {
  height: 300px;
}
.chart {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 250px;
  overflow: auto;
}
.btn .progress {
  width: 30px;
} 

.chart .btn {
  background: rgb(189, 195, 199);Ï€
  padding: 5px;
}
.acl {
  margin-top: 5px;
  margin-bottom: 10px;
}
.acl .btn {

  width: 170px;
  height: 70px;
  padding: 10px;
  margin: 10px;
}
  .dash .selected {
    outline: thin dotted rgb(51, 51, 51) !important;
    outline: 10px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
  }
  /*.chart table {
    width: auto;
  }*/
table {
  table-layout: fixed;
}

.tree .active {
  font-weight: bold;
}