.mapRespondant .admin-edit {
    position: absolute;
    top: 10px;
    z-index: 2000;
    background-color: red;
    color: yellow;
    }

.not-for-phone { display: inherit !important; }
.for-phone { display: none !important; }
@media (max-width: 480px) {
    .not-for-phone { display: none !important; }
    .for-phone { display: inherit !important; }
}

/**
 * The Map
 */
div[leaflet] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
.leaflet-container .leaflet-control-attribution {
    font-size: 9px;
    bottom: 7px;
}



/**
 * Map Controls
 */
.map-controls-top-left {
    position: absolute;
    top: 0;
    left: 5px;
}
.map-controls-top-right {
    position: absolute;
    top: 9px;
    right: 5px;
}
.btn-done-mapping, .btn-add-marker {
    margin-left: 5px
}
.btn-done-mapping.large-screen {
    display: inline;
}
.btn-done-mapping.small-screen {
    display: none;
}
.btn-my-activities, .btn-help, .btn-done-mapping, .btn-search {
    background-color: #eee;
    color: black;
}
.map-controls .btn, .leaflet-control-layers a, .btn-done-mapping {
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
       -moz-box-shadow: 0 2px 2px rgba(0,0,0,.3);
            box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.leaflet-control-container .leaflet-top.leaflet-left {
    /* the zoom control is being forced to bottom left 
    while staying in the top left class (if time available, 
    we should just move the control the the bottom left class) */
    bottom: 15px;
    top: auto;
    left: 15px;
}
.leaflet-control-container .leaflet-bottom.leaflet-left {
    /* the layers control  just above the zoom control */
    bottom: 85px;
    left: 13px;
}
@media (max-width: 790px) {
    .btn-help .map-control-label {
        display: none;
    }
}
@media (max-width: 700px) {
    .btn-my-activities .map-control-label {
        display: none;
    }
}
@media (max-width: 640px) {
    .btn-add-marker .map-control-label {
        display: none;  
    }
}
@media (max-width: 510px) {
    .btn-add-marker .map-control-label {
        display: none;  
    }
}
@media (max-width: 480px) {
    .leaflet-control-zoom {
        display: none;
        }
    .leaflet-control-container .leaflet-bottom.leaflet-left {
        /* since the zoom control is hidden, move the layers control down */
        bottom: 0px;
        left: 3px;
        }
    .leaflet-control-layers {
        border: none !important;
        }


    .map-controls-top-left {
        top: 5px;
        left: 5px;
    }
    .map-controls-top-right {
        top: 5px;
        right: 3px;
    }
    .btn-done-mapping, .btn-add-marker {
        margin-left: 5px
    }
    .btn-done-mapping {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
    }
}



/* Zoomto/Search Control */
div[zoomto] {
    display: inline;
    position: relative;
    }
div[zoomto] .large-screen .icon-search {
    position: absolute;
    left: 15px;
    top: -1px;
    }
div[zoomto] input {
    height: auto !important;
    font-size: 18px !important;
    line-height: 1.2 !important;
    margin-top: 10px;
    padding-left: 40px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.5);
       -moz-box-shadow: 0 2px 2px rgba(0,0,0,.5);
            box-shadow: 0 2px 2px rgba(0,0,0,.5);    
    }
div[zoomto] .large-screen {
    display: inline;
    }
div[zoomto] .small-screen {
    display: none;
    }   
@media (max-width: 510px) {
    div[zoomto] input {
        width: 100px;
        }
    }
@media (max-width: 480px) {
    div[zoomto] .large-screen {
        display: none;
        }
    div[zoomto] .small-screen {
        display: inline;
        }
}


/* Enlarged Zoom In/Out Controls */
.leaflet-control-zoom {
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    }
.leaflet-control-zoom {
    margin-left: 8px !important;
    padding: 0px !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border: none;
    }
.leaflet-control-zoom a {
    background-color: rgba(255, 255, 255, 1.0) !important;
    }
.leaflet-control-zoom a, .leaflet-control-layers a {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    display: block;
    }
.leaflet-control-zoom a {
    -moz-border-bottom-radius: 0px !important;
    -webkit-border-bottom-radius: 0px !important;
    border-bottom-radius: 0px !important;    
    width: 36px !important;
    height: 33px !important;
    font-size: 28px !important;
    line-height: 32px !important;
    }
.leaflet-control-zoom a:hover {
    background-color: rgba(255, 255, 255, 1.0) !important;
    }
.leaflet-touch .leaflet-control-zoom a {
    width: 93px !important;
    height: 93px !important;
    }
.leaflet-control-zoom-in {
    background-size: 27px 27px !important;
    margin-bottom: 1px !important;
    }
.leaflet-control-zoom-out {
    background-size: 27px 27px !important;
    font: 46px/40px !important;
    }
.leaflet-control-zoom-out a {
    font-size: 46px !important;
    line-height: 40px !important;
    }


/**
 * Modals
 */
.map-multipoint .question-title {
    margin-bottom: 5px;
}
.map-multipoint .question-sub-text {
    margin-bottom: 15px;
}

.modal {
    max-height: 600px;
    overflow:hidden;
}
.modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal-body {
    margin-bottom: 73px;
    max-height: 400px;
    overflow-y:scroll;
}


.modal-map-usage ul{
    margin-top: 5px;
    margin-left: 0;
}

.modal-body ul {
    margin-bottom: 10px;
}
.modal-body .img-in-paragraph {
    max-height: 35px;
}
.modal-body .icon-in-paragraph {
    margin-top: 5px;
}

.modal-body p.col-p {
    margin-left: 60px;
}


/* Map Thankyou Modal */
.thx-modal .modal-header h3 {
    font-size: 20px;
    font-weight: 500 !important;

}

/* Help Modal */
.help-pane {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.help-pane p,
.help-pane h4 {
    margin-left: 10px;
    margin-right: 20px;
}
.help-pane p.help-lead {
    font-size: 16px;
    margin-left: 0;
    font-weight: bold;
}
.help-pane h3 {
    font-size: 16px;
    font-weight: normal;
}
.help-pane h4 {
    font-size: 13px;
    font-weight: bold;
}

/* Search Modal */
.modal-zoomto .modal {
    max-height: 400px;
    }
.modal-zoomto .modal-body {
    max-height: 200px;
    }
.modal-zoomto .modal-body {
    margin-bottom: 5px;
}
.modal-zoomto .question-title,
.modal-zoomto .noresults-label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.modal-zoomto .question-title, 
.modal-zoomto p.subtext,
.modal-zoomto .noresults-label {
    text-align: center;
}

.modal-zoomto .noresults-label {
    color: #777;
}

.modal-zoomto .form-search {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.modal-zoomto .form-search .control-group {
    position: relative;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}
.modal-zoomto .icon-search, .modal-zoomto .icon-spinner {
    position: absolute;
    left: -10px;
    top: 6px;
}
.modal-zoomto input.search-query {
    height: 24px !important; 
    padding-left: 45px;
    margin-left: -23px;
    width: 100%;
}
.modal-zoomto .modal-header {
    border-bottom: 0px;
}
@media (max-width: 600px) {
    .modal {
        max-height: none;
        overflow-y: scroll;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: none;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .modal-zoomto .modal-body {
        max-height: none;
        /*overflow-y: scroll;*/
    }
    .modal-zoomto .modal-body.modal-footer {
        margin-bottom: 0;
    }
    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .modal-zoomto .modal-header {
        padding: 0 !important;
        padding-top: 2px !important;
    }
    .modal-zoomto .modal-body {
        padding-top: 0 !important;
    }
    .modal-zoomto .question-title,
    .modal-zoomto .noresults-label {
        font-size: 14px;
    }

    .modal-zoomto .for-phone .question-title, 
    .modal-zoomto .for-phone .subtext,
    .modal-zoomto .for-phone .control-group,
    .modal-zoomto .for-phone .form-search {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .modal-zoomto .for-phone .question-title {
        font-weight: 500;
    }
    .modal-zoomto .for-phone .subtext {
        margin: 0;
        padding: 0;
        margin-bottom: 3px;
    }
    .modal-zoomto .for-phone .control-group {
        margin-bottom: 10px;
    }

    div[zoomto] .large-screen .icon-search {
        top: -5px;
        }

}


/**
 * Misc
 */
.leaflet-popup-content {
    width: 225px;
}
.map-multipoint .popover {
    width: 180px;
}
