node_modules
dist
.tmp
.sass-cache
app/components
*.pyc
*.pyo
.DS_Store
*~
server/config/environments/local.py
server/media
server/public/static
server/static/survey/components/
.vagrant
geosurvey_env
logs
scripts/heroku-env.sh
*.orig
mobile/*
