<p>Last chance to finish your recreation survey! The survey closes December 31st.</p>

<p>You signed up to take a <a href="http://www.surfrider.org/mid-atlantic-recreation/">survey</a> on ocean and coastal recreation organized by the Surfrider Foundation.  We noticed that you have not completed the survey, so this is a reminder to help us collect this important data by completing your survey.</p>

<p>Here is a link to <a href="http://{{ SITE_URL }}/respond#/survey/{{ SURVEY_SLUG }}/{{ UUID }}">begin the survey</a>.
</p>

<p>Please note that technical issues have been experienced on older browsers such as Internet Explorer 8 or Safari 4. The browser we most recommended is Google Chrome (http://www.google.com/chrome). If you are having any technical issues please send an email to: surveysupport@surfrider.org</p>

<p>Thank you!</p>

<p>The Surfrider Foundation</p>

