<p>Hello!</p>

<p>You recently signed up to take a <a href="http://www.surfrider.org/mid-atlantic-recreation">survey</a> on ocean and coastal recreation organized by the Surfrider Foundation.  We noticed that you have not completed the survey, so this is a reminder to help us collect this important data by completing your survey.</p>

Here is a link to <a href="http://{{ SITE_URL }}/respond#/survey/{{ SURVEY_SLUG }}/{{ UUID }}">begin the survey</a>.

<p>If you are having any technical issues please send an email to: surveysupport@surfrider.org</p>

<p>Thank you!</p>

<p>The Surfrider Foundation</p>
