{% extends "dash-base.html" %}
{% block content %}
<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Email address" name="username" autofocus>
    <input type="password" class="form-control" placeholder="Password" name="password">
    
    <label class="checkbox">
        <input type="checkbox" value="remember-me">Remember me
    </label>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
    <input type="hidden" name="next" value="/fisher" />
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    {% csrf_token %}
</form>
{% endblock %}