Hello,</br>
<p>You recently submitted your e-mail address to take a survey on ocean and coastal recreation in the Mid-Atlantic. The link below will take you to the survey. Use this same link again if you need to stop and come back to the survey, your information will be saved.</p>

<a href="http://{{ SITE_URL }}/respond#/survey/marco/{{ uuid }}">Take the survey</a>

<p>By clicking on this link you agree to participate in this survey and provide your information to Surfrider. If you need technical assistance please contact Tim Glaser at tglaser@ecotrust.org.</p>

Thank you for participating!</br>
Surfrider Foundation