path.py
Django==1.5.5
south
fabric
django-grappelli==2.4.8
django-extensions
simplejson
django-tastypie
django-compressor
psycopg2
dj-database-url
django-cache-machine
django-redis-cache
redis
hiredis
gunicorn
django-storages
boto

