<div class="modal-body activities-modal">
    <h3>My Activities</h3>
    <p>These are the activities you engaged in during the last 12 months.</p>
    <ul class="unstyled">
        <li ng-show="hoisted_options == 'unknown' || hoisted_options.length == 0">No Activities</li>
        <li ng-hide="hoisted_options == 'unknown' || hoisted_options.length == 0" ng-repeat="option in hoisted_options">
            <i class="icon-ok-circle" ng-hide="-1 < $parent.remainingActivities.indexOf(option.text)"></i>
            <i class="icon-circle-blank" ng-show="-1 < $parent.remainingActivities.indexOf(option.text)"></i>
            <span class="my-activity-text">{{ option.text }}</span>
        </li>
    </ul>
    <p class="my-activities-legend"><i class="icon-circle-blank"></i> = not yet mapped</p>
    <p class="my-activities-legend"><i class="icon-ok-circle"></i> = mapped to at least one location</p>
    <hr>
    <h3>My Activity Locations</h3>
    <p ng-show="locations.length == 0">No Locations Mapped</p>
    <div class="location" ng-repeat="location in locations">
        <i class="icon-map-marker icon-2x" ng-style="{ color: location.color }"></i>
        <div class="btn-group">
            <a class="btn" ng-click="showLocation(location); close();"><i class="icon-search"></i>&nbsp; &nbsp;View</a>
            <a class="btn" ng-click="editLocation(location); close();"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
            <a class="btn" ng-click="removeLocation(location); close();"><i class="icon-trash"></i>&nbsp;&nbsp;Delete</a>
        </div>
        <ul class="location-activities">
            <li ng-show="location.answers.length == 0" class="empty-text">No Activities</li>
            <li ng-show="location.answers.length > 0" ng-repeat="answer in location.answers">{{ answer.text }}</li>
        </ul>
    </div>

</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-large btn-primary">
        Close
    </button>
</div>
