<div class="modal-body activities-modal">
    <h2>My Activities</h2>
    <ul class="unstyled my-activities">
        <li ng-show="hoisted_options == 'unknown' || hoisted_options.length == 0">No Activities</li>
        <li ng-hide="hoisted_options == 'unknown' || hoisted_options.length == 0" ng-repeat="option in hoisted_options">{{ option.text }}</li>
    </ul>
    <hr>
    <h2>My Activity Locations</h2>
    <ul class="unstyled my-locations" style="margin-left: 20px; margin-bottom:20px;">
        <li ng-show="locations.length == 0">No Locations Mapped</li>
        <li ng-show="locations.length > 0" ng-repeat="location in locations">
            <div class="row-fluid">
                <div class="span1">
                    <i class="icon-map-marker icon-2x" ng-style="{ color: location.color }" style="vertical-align: middle;"></i>
                </div>
                <div class="span11">    
                    <div class="btn-group">
                        <a class="btn" ng-click="showLocation(location); close();"><i class="icon-search"></i>&nbsp; &nbsp;View</a>
                        <a class="btn" ng-click="editLocation(location); close();"><i class="icon-edit"></i>&nbsp;&nbsp;Edit</a>
                        <a class="btn" ng-click="removeLocation(location); close();"><i class="icon-trash"></i>&nbsp;&nbsp;Delete</a>
                    </div>
                </div>
            </div>
            <ul style="margin-left: 55px;">
                <li ng-show="location.answers.length == 0">No Activities</li>
                <li ng-show="location.answers.length > 0" ng-repeat="answer in location.answers">
                    {{ answer.text }}
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-large btn-primary">
        Close
    </button>
</div>
