<div class="dash">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid acl">
                <button class="btn" ng-click="selectSeries(series)" ng-class="{ 'selected': series.active }" ng-repeat="series in chart.series">
                    <div class="progress span1">
                        <div class="bar {{series.class}}" style="width: 100%;"></div>
                    </div>
                    <h4>
                        {{ series.name }}
                    </h4>
                </button>
            </div>
            <div class="row-fluid">
                <div start="filter.startDate" end="filter.endDate" range-slider></div>
            </div>

        </div>
        <div class="span3">
            <h2>ACL Year</h2>    
            <button class="btn btn-large btn-block" ng-click="selectYear(aclYear)" ng-class="{ 'selected': filter.aclYear == aclYear.year }" ng-repeat="aclYear in aclYears">
                {{ aclYear.year }}
            </button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid chart">
                <!-- <div stacked-bar filter="filter" chart="chart"></div> -->
                <div class="span12">
                    <div ng-repeat="category in chart.categories">
                        <div class="row-fluid"  ng-click="selectCategory(category)" >
                            <div class="span3" width="25%">
                                <i ng-class="{ 'icon-chevron-right': filter.category != category, 'icon-chevron-down': filter.category == category }"></i> <button ng-class="{ 'selected': filter.category == category }" class="btn btn-mini">{{category.name }}</button>
                            </div>
                            <div class="span8">
                                <div class="progress">
                                    <div class="bar bar-warning" style="width: {{ category.data[0] }}%;"></div>
                                    <div class="bar bar-info" style="width: {{ category.data[1] }}%;"></div>
                                    <div class="bar bar-danger" style="width: {{ category.data[2] }}%;"></div>
                                    <div class="bar bar-success" style="width: {{ category.data[3] }}%;"></div>
                                </div>
                          </div>
                          <div class="span1">{{ category.total }} lbs</div>
                        </div>
                        <div class="row-fluid" ng-show="filter.category == category">
                            <div class="span4">
                                <div pie-chart></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div dash-map></div>
        </div>
        <div class="span3">
            <table class="table">
                <thead>
                    <th>Stuff</th>
                    <th>More Stuff</th>
                </thead>
                <tbody>
                    <tr><td>stuff</td><td>stuff 2</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>