<h1>
    {{survey.name}}
</h1>
<div class="row-fluid">
    <div class="span2">
        
        <ul class="nav nav-pills nav-stacked" ng-model="survey.questions" ui-sortable>
            <li title="{{question.title}}"
                ng-click="$parent.startEditingQuestion(question)"
                ng-class="{'active': question == questionBeingEdited }"
                ng-repeat="question in survey.questions">
                <a>{{question.label}} ({{question.order}})</a>
            </li>
        </ul>
    </div>

    <div class="span10">
        <div class="well">
            <form ng-submit="saveQuestion(activeQuestion)">
                <label>Title</label>
                <input class="span12" ng-model="activeQuestion.title" />
                
                <label>Label</label>
                <input class="span12" ng-model="activeQuestion.label" />
                <label>Slug</label>
                <input class="span12" ng-model="activeQuestion.slug" />
            </form>
            <div ng-show="activeQuestion.updated_at" class="pull-left">
                Updated at {{ activeQuestion.updated_at | date:'MM/dd/yyyy @ h:mma'}}
            </div>
            <div class="buttons pull-right">
                <button class="btn btn-danger btn-large" ng-click="startEditingQuestion(questionBeingEdited)">
                    reset
                </button>
                <button class="btn btn-primary btn-large" ng-click="saveQuestion(activeQuestion)">
                    save
                </button>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>