<div id="wrap" class="menu-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>
	<div class="container">
	    
        <div class="info respondant" ng-hide="working || user.offline" style="padding-top: 0px">
	        <h4>You have completed the catch report.</h4>

            <div class="panel-body">
                <div ng-include="'views/surveyAnswers.html'"></div>
            </div>
            <div class="clearfix">
                <span class="col-xs-6"><a type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="submitReport()">Submit</a></span>
                <span class="col-xs-6"><a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/main">Save</a></span>
            </div>
            
	    </div>

        <div ng-show="user.offline">
            <h3>You are currently offline.</h3>
            <p>Please complete your registration before submitting your report.</p>
            <a class="btn btn-main btn-default btn-lg btn-block" href="#/signup" ng-show="user.status == 'signup'">Finish Signing Up</a>
            <a class="btn btn-main btn-default btn-lg btn-block" href="#/signin" ng-show="user.status == 'signin'">Finish Signing In</a>
            <a class="btn btn-main btn-default btn-lg btn-block" ng-click="continueOffline()">Continue Offline</a>
        </div>
        
        <div class="loading-indicator" ng-show="working">
            <h3>Submitting Report...</h3>
            <div class="bar">
                <i class="sphere"></i>
            </div>

        </div>

	</div>
</div>

<div id="footer" ng-hide="sendingFeedback">
    <a class="btn pull-left" ng-click="getLastPageOfSurvey()"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>