<div id="history-wrap" class="menu-page">
    <div mobilemenu></div>
    <!-- Begin page content -->
    <div class="container">

        <h4>Summary</h4>

        <div>
            <a class="btn btn-default btn-main btn-lg btn-block" href="#/fisher-summary">Overall Summary</a>
        </div>

        <h4>Catch Reports</h4>

        <div>
            <a class="btn btn-default btn-main btn-lg btn-block" href="#/unSubmittedSurveyList">
                un-submitted <span class="badge pull-right" style="top: 0px">{{respondents.length}}</span>
            </a>
        </div>
        <div>
            <a class="btn btn-default btn-main btn-lg btn-block" href="#/submittedSurveyList" ng-class="{ 'disabled': !respondentList }">
                submitted <span class="badge pull-right" style="top: 0px">{{respondentList.length}}<i class="icon-spinner icon-spin" ng-hide="respondentList"></i></span>
            </a>
        </div>

    </div>
</div>
