
<!-- HOOK & LINE -->

<div class="margin-top-10">
    <div class="col-xs-12 col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <strong>HOOK & LINE / ROD & REEL</strong>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col-sm-12">
                    <strong>Gear Type: </strong>
                    <span class="answer">{{ getAnswer('type-line-or-reel')['text'] }}</span>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-6 margin-top-10">
                    <strong># Lines: </strong>
                    <span class="answer">{{ getAnswer('lines') }}</span>
                </div>  
                <div class="col-sm-6 margin-top-10">
                    <strong>Hooks / Line: </strong>
                    <span class="answer">{{ getAnswer('hooks-per-line') }}</span>
                </div>  
            </div>

            <div class="row margin-top-10">
                <div class="col-sm-12">
                    <strong>FAD Fished Name: </strong>
                    <span class="answer">{{ getAnswer('fad-fished-name') }}</span>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-6 margin-top-10">
                    <div>
                        <strong>Hours Fished: </strong>
                        <span class="answer">{{ getAnswer('hours-fished') }}</span>
                    </div>
                    <div class="margin-top-10">
                        <strong>Bottom Depth: </strong>
                        <span class="answer">{{ getAnswer('bottom-depth-line-or-reel')['value'] }}</span>
                        <span class="answer">{{ getAnswer('bottom-depth-line-or-reel')['unit'] }}</span>
                    </div>
                </div> 
                <div class="col-sm-6 margin-top-10">
                    <div>
                        <strong>Area 1 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-1-fished-line-or-reel') }}</span>
                    </div>
                    <div>
                        <strong>Area 2 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-2-fished-line-or-reel') }}</span>
                    </div>
                    <div>
                        <strong>Area 3 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-3-fished-line-or-reel') }}</span>
                    </div>
                </div>  
            </div>

            <div class="row margin-top-10">
                <div class="col-xs-4 margin-top-10">
                    <strong>SPECIES CAUGHT</strong>
                </div> 
                <div class="col-xs-4 margin-top-10">
                    <strong>WHOLE POUNDS</strong>
                </div>  
                <div class="col-xs-4 margin-top-10">
                    <strong>GUTTED POUNDS</strong>
                </div>  
            </div>

            <div ng-repeat="answer in getAnswer('weight-line-or-reel')">
                <div ng-show="answer.showGroupName">        
                    <div class="row margin-top-10">
                        <div class="col-xs-4">
                            <span>{{answer.showGroupName | uppercase}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span></span>
                        </div>
                        <div class="col-xs-4">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-bottom: solid 1px; border-color: rgb(200, 200, 200);">
                    <div class="col-xs-4">
                        <span class="margin-left-10">{{ answer.text }}</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="pull-right">{{ answer.wholepounds }}</span>    
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">
                        <span class="pull-right">{{ answer.guttedpounds }}</span>    
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>

        </div> 
    </div>
</div>
<!-- end Hook and Line Report --> 
    