<div ng-show="panes.confirmPane.showing">
    <div class="modal-body">
        <h2 class="question-title">Is the placement of this activity marker (use the graphic of the activity marker) correct?</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large" ng-click="close('cancel')">No, let's try again</button>
        <button class="btn btn-large btn-primary" ng-click="show('activitySelectionPane')">Yes</button>
    </div>
</div>

<!-- note: this pane operates under a child scope -->
<div ng-show="panes.activitySelectionPane.showing" ng-controller="SurveyDetailCtrl">
    <div class="modal-header">
        <h2 class="question-title">{{ question.title }}</h2>
    </div>
    <div class="modal-body">
        <div ng-init="dialog=$parent.dialog;" ng-include="'/static/survey/views/questionTypes.html'"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-large" ng-click="$parent.show('deleteConfirmationPane')">Delete Location</button>

        <span ng-switch on="isAnswerValid">
            <button ng-switch-when="true" class="btn btn-large save btn-primary" ng-click="answerMultiSelect(question); $parent.show('thankYouPane')">Save</button>
            <button ng-switch-default class="btn btn-large save disabled" disabled>Save</button>
        </span>
    </div>
</div>

<div ng-show="panes.deleteConfirmationPane.showing">
    <div class="modal-body">
        <h2 class="question-title">Delete this location?</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large" ng-click="show('activitySelectionPane')">Cancel</button>
        <button class="btn btn-large btn-danger" ng-click="close('cancel')">Delete Location</button>
    </div>
</div>

<div class="thx-modal" ng-show="panes.thankYouPane.showing">
    <div class="modal-header">
        <h3>Would you like to add another activity marker?</h3>
    </div>
    <div class="modal-body">
        <div ng-show="getRemainingActivities().length > 0">
            <p>The following activities have not yet been mapped:</p>
            <ul>
                <li ng-repeat="activity in getRemainingActivities()">
                    {{activity}}
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">

        <button class="btn btn-large" ng-click="close('doneMapping')">No</button>
        <button class="btn btn-large btn-primary" ng-click="close('addMoreLocations')">Yes</button>
    </div>
</div>
