<div id="wrap" class="main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <img src="assets/img/logo.png" class="center" />
        </div>
        <button type="button" class="btn btn-main btn-default btn-lg btn-block" style="display: none">Resume</button>
        <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/surveys">New Report</a>
        <button type="button" class="btn btn-main btn-default btn-lg btn-block">History</button>
        <button type="button" class="btn btn-main btn-default btn-lg btn-block">Logout</button>
    </div>

    <div id="map" mobile-map></div>
</div>
<div class="alert-notice" ng-show="message">
    <div class="pull-left">{{ message }}</div>
    <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="message = false">ok</button>
</div>
<!-- <div id="footer">
    <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
 -->