<div id="wrap" class="main">
    <!-- Fixed navbar -->
    <!-- Begin page content -->
    <div class="navbar navbar-default navbar-fixed-top">

    </div>

    <div class="container">
        <div class="page-header">
            <img src="assets/img/deck-logo.svg" class="center logo" />
        </div>
        <div class="loading-indicator" ng-show="working">
            <div class="bar">
                <i class="sphere"></i>
            </div>
        </div>
        <div ng-show="user">
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" ng-show="user.resumePath" href="{{user.resumePath}}">Resume</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/surveys">New Report</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/respondents">History</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/profile">Profile</a>
            <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/settings">Settings</a>
            <button type="button" class="btn btn-main btn-default btn-lg btn-block" ng-click="logout()">Logout</button>
        </div>
        <p class="pull-right">{{version}}</p>
    </div>

    <div id="map" mobile-map ng-show="user"></div>
    <div class="alert-notice" ng-show="message">
        <div class="pull-left">{{ message }}</div>
        <button class="btn btn-default btn-outline-inverse pull-right" ng-tap="message = false">ok</button>
    </div>
    <div class="alert-notice" ng-show="update">
        <div>An update ({{newVersion}}) is available for Digital Deck.</div>
        <div class="pull-right">
            <button class="btn btn-default btn-outline-inverse" ng-tap="update = false">not now</button>
            <button class="btn btn-default btn-outline-inverse" ng-tap="updateApp()">update</button>
        </div>
    </div>

</div>
<!-- <div id="footer">
    <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
</div>
 -->
