<div class="modal-header">
    <h2 class="question-title">
        Are you done mapping your activity locations?
    </h2>
</div>
<div class="modal-body">
    <div ng-show="remainingActivities.length > 0">
        <p>The following activities have not yet been mapped:</p>
        <ul>
            <li ng-repeat="activity in remainingActivities">
                {{location.text}}
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-large" ng-click="close('yes')">Yes</button>
    <button class="btn btn-large" ng-click="close('no')">No</button>
</div>

