<div class="map-multipoint">
    <div leaflet 
        center="map.center" 
        zoom="map.zoom" 
        requiredzoom="question.min_zoom" 
        conflocation="activeMarker != false" 
        marker="map.marker" 
        multimarkers="locations" 
        popupfield="'answers'" 
        addmarker="addMarker" 
        multimarkersedit="activeMarker == false"
        editmarker="editMarker"
        zoomtoresult="zoomModel.zoomToResult"></div>


    <div class="map-controls-top">
        <!-- onload="openModal()" -->
        <span zoomto  states="survey.states" zoomtoresult="zoomModel.zoomToResult" numlocations="locations.length"></span>

        <button
            class="btn btn-large btn-primary"
            ng-click="showHelp()">
            <i class="icon-plus-sign"></i><span class="map-control-label">&nbsp;Add Location</span>
        </button>

        <button 
            class="btn btn-large btn-inverse btn-my-activities" 
            ng-click="showActivities()"
            data-html="true"
            data-title="<b>Review and Edit</b>"
            data-content="<script type='text/javascript'>function hideMe() {jQuery('.btn-my-activities').popover('hide');} </script><p>Go here at any time to edit your locations or review the list of activities you specified.</p><p>&nbsp;<a class='btn btn-block' onclick='hideMe()'>OK</a></p>">
            <i class="icon-list"></i> <span class="map-control-label">My Activities</span>
        </button>

        <button
            class="btn btn-large btn-help"
            ng-click="showHelp()">
            <i class="icon-question-sign"></i><span class="map-control-label">&nbsp;Help</span>
        </button>

    </div>

    <button 
        ng-show="activeMarker == false && locations.length > 0"
        type="submit"
        class="btn btn-large btn-primary btn-done-mapping"
        ng-click="answerMapQuestion(locations)">
        Done
    </button>
        


    <div style="display:none">
        <!-- testing controls -->
        <input ng-model="map.zoom" />
        <input ng-model="map.marker.lat" />
        <input ng-model="map.marker.lng" />
    </div>
</div>