<div class="map-multipoint">
    <div class="row-fluid">
        
        <span zoomto onload="openModal()" done="showIntro()" states="survey.states" zoomtoresult="zoomModel.zoomToResult" numlocations="locations.length"></span>
        
        <button 
            class="btn btn-large btn-my-activities" 
            style="margin-left:10px;" 
            ng-click="showActivities()"
            data-html="true"
            data-title="<b>Location Added</b>"
            data-content="<script type='text/javascript'>function hideMe() {jQuery('.btn-my-activities').popover('hide');} </script><p>Go here at any time to edit your locations or review the list of activities you specified.</p><p>&nbsp;<a class='btn btn-block' onclick='hideMe()'>OK</a></p>">
            <i class="icon-list"></i> My Activities
        </button>

        <button
            class="btn btn-large"
            style="margin-left:3px;"
            ng-click="showHelp()">
            <i class="icon-question-sign"></i>&nbsp;Help
        </button>

        <button
            class="btn btn-large btn-primary"
            style="margin-left:3px;"
            ng-click="showAddLocationDialog()">
            <i class="icon-plus"></i>
        </button>

    </div>
    <div class="row-fluid">
        <div class="span12">
            <div leaflet 
                center="map.center" 
                zoom="map.zoom" 
                requiredzoom="question.min_zoom" 
                conflocation="activeMarker != false" 
                marker="map.marker" 
                multimarkers="locations" 
                popupfield="'answers'" 
                addmarker="addMarker" 
                multimarkersedit="activeMarker == false"
                editmarker="editMarker"
                zoomtoresult="zoomModel.zoomToResult"></div>
        </div>
    </div>

    <div style="display:none">
        <!-- testing controls -->
        <input ng-model="map.zoom" />
        <input ng-model="map.marker.lat" />
        <input ng-model="map.marker.lng" />
    </div>
</div>