<nav class="bar-tab primary-nav">
  <ul class="tab-inner" ng-cloak ng-show="user">
    <li class="tab-item" ng-class="{'active': path == 'home'}">
      <a href="#/SurveyList">
              <img class="tab-icon" src="assets/img/icon-home.png">
              <div class="tab-label">Home {{ path }}</div>
            </a>
    </li>
    <li class="tab-item"  ng-class="{'active': path == 'surv'}">
      <a href="#/surveys">
                  <img class="tab-icon" src="assets/img/store.png">
                  <div class="tab-label">Surveys</div>
                </a>
    </li>
    <li class="tab-item" ng-class="{'active': path == 'resp'}">
      <a href="#/respondents">
              <img class="tab-icon" src="assets/img/market.png">
              <div class="tab-label">My Surveys</div>
            </a>
    </li>
  </ul>
</nav>