<div ng-switch on="question.type">
    <div ng-switch-when="pennies">
        <div ng-include="viewPath + 'views/pennies.html'"></div>
    </div>
    <div ng-switch-when="info">
        <div class="info-content" ng-include="viewPath + infoView"></div>
    </div>
    <div ng-switch-when="integer">
        <form class="question" ng-submit="$root.submitPage(page)">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" step="1" min="{{question.integer_min}}" max="{{question.integer_max}}" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="{{question.required}}" />
        </form>
    </div>
    <div ng-switch-when="number-with-unit">
        <form class="question number-with-unit" ng-submit="$root.submitPage(page)">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" min="{{question.integer_min}}" max="{{question.integer_max}}" step="any" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="{{question.required}}" />
            <div class="select-wrapper" ng-class="{ 'unit-selected': question.unit }">
                <select ng-model="question.unit" class="unit-select" placeholder="{{ question.label }}">
                    <option value="">Select Unit</option>
                    <option ng-repeat="option in question.options">{{ option.text }}</option>
                </select>
                <span class="down glyphicon glyphicon-chevron-down"></span>
            </div>
        </form>
    </div>
    <div ng-switch-when="number">
        <form class="question" ng-submit="$root.submitPage(page)">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" min="{{question.integer_min}}" max="{{question.integer_max}}" step="any" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="{{question.required}}" />
        </form>
    </div>
    <div ng-switch-when="auto-single-select">
        <form class="question" ng-submit="answerAutoSingleSelect(answer, otherAnswer)">
            <select ui-select2 ng-model="answer" class="form-control" placeholder="{{ question.label }}" required>
                <option value="">{{ question.label }}</option>
                <option ng-repeat="option in question.options" value="{{ $index }}">
                    {{ option.text || option.name }}
                </option>
                <option selected value="other">Other</option>
            </select>
            <input class="form-control" type="text" placeholder="{{ question.label }}" ng-show="answer == 'other'" ng-model="otherAnswer" />
        </form>
    </div>
    <div ng-switch-when="text">
        <form class="question" ng-submit="$root.submitPage(page)">
            <input class="form-control" type="text" placeholder="{{ question.label }}" ng-model="question.answer" />
        </form>
    </div>
    <div ng-switch-when="currency">
        <form class="question" ng-submit="$root.submitPage(page)">

            <div class="input-prepend">
                <span class="add-on">$</span>
                <input class="form-control" type="number" step="any" placeholder="{{ question.label }}" ng-model="answer" />
            </div>

            <!-- <button type="submit" class="btn btn-primary btn-large btn-block button-block" ng-disabled="question.required && ! answer">continue</button> -->
        </form>
    </div>
    <div ng-switch-when="monthpicker">
        <form class="question" ng-submit="$root.submitPage(page)">
            <input class="form-control datepicker" type="month" placeholder="{{ question.label }}" ng-model="question.answer" />
        </form>
    </div>
    <div ng-switch-when="datepicker">
        <form class="question"ng-submit="$root.submitPage(page)">
            <input class="form-control datepicker" type="date" placeholder="{{ question.label }}" ng-model="question.answer" />
        </form>
    </div>
    <div ng-switch-when="timepicker">
        <form class="question" ng-submit="$root.submitPage(page)">
            <input class="form-control datepicker" type="time" placeholder="{{ question.label }}" ng-model="question.answer" />
        </form>
    </div>

    <div ng-switch-when="textarea">
        <form class="question" ng-submit="$root.submitPage(page)">
            <textarea rows="5" placeholder="{{ question.label }}" ng-model="answer"></textarea>
        </form>
    </div>
    <div ng-switch-when="single-select">
        <form class="question" ng-submit="answerSingleSelect(question.options, question.otherAnswer)">
            <div class="select mrm">
                <!-- with accordion (if groupOptions are present)-->
                <accordion ng-show="question.groupedOptions.length">
                    <div ng-repeat="groupOption in question.groupedOptions" class="accordion-div">
                        <h3 ng-show="$parent.question.hoisted_options.length > 0">Other Activities</h3>
                        <accordion-group heading="{{groupOption.optionLabel}}">
                            <ul class="choices">
                                <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in groupOption.options" ng-class="{'select-checked': option.checked, 'option-group-name': option.isGroupName }">
                                    <div class="select-content">
                                        <h4 class="select-name option-name">
                                            {{option.text}}
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </accordion-group>
                    </div>
                    <div ng-show="question.allow_other" class="accordion-other-div">
                        <accordion-group heading="Other">
                            <ul class="choices">
                                <li class="option" ng-click="onSingleSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked }" ng-model="question.otherAnswer.text">
                                    <div class="select-content">
                                        <h4 class="select-name option-name">
                                            Other
                                        </h4>

                                    </div>
                                </li>
                            </ul>
                        </accordion-group>
                    </div>
                </accordion>

                <!-- show if groupedOptions are NOT present -->
                <div ng-show="question.groupedOptions.length == 0">
                    <ul class="list-unstyled" ng-class="{'option-checked': $parent.question.answerSelected, 'option-unchecked': ! $parent.question.answerSelected }">
                        <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                            <div class="select-content">
                                <div class="checkbox"></div>
                                <h4 class="select-name option-name">
                                    {{ option.text || option.name }}
                                </h4>

                            </div>
                        </li>
                        <li class="option" ng-show="question.allow_other" ng-click="$parent.onSingleSelectClicked($parent.question.otherOption, $parent.question)" ng-class="{'select-checked': $parent.question.otherOption.checked }">
                            <div class="select-content">
                                <h4 class="select-name option-name">
                                    Other
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <input class="form-control" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="question.otherAnswer" />
        </form>
    </div>
    <div ng-switch-when="yes-no">
        <form class="question" ng-submit="answerSingleSelect(question.options, question.otherAnswer)">
            <div class="select mrm">
                <ul ng-class="{'option-checked': $parent.question.answerSelected, 'option-unchecked': !$parent.question.answerSelected }">
                    <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                        <div class="select-content">
                            <div class="checkbox"></div>
                            <h4 class="select-name option-name">
                                {{ option.text || option.name }}
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
            <input class="form-control" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="question.otherAnswer" />
        </form>
    </div>
    <!-- Multi-Select -->
    <div ng-switch-when="multi-select">
        <form class="question" ng-submit="answerMultiSelect(question)">    
            <div class="panel-group">
                <div class="panel panel-default" ng-repeat="groupOption in question.groupedOptions">
                    <div class="panel-heading" ng-click="groupOption.open = !groupOption.open">
                        <h4 class="panel-title">
                            <a class="accordion-toggle">
                      {{groupOption.optionLabel}}
                    </a>
                        </h4>
                    </div>
                    <div id="{{ groupOption.optionLabel }}" class="panel-collapse collapse" ng-class="{ 'in': groupOption.open }">
                        <div class="panel-body">
                            <ul class="choices list-unstyled">
                                <li class="option" ng-click="$parent.onMultiSelectClicked(option, $parent.question)" ng-repeat="option in groupOption.options" ng-class="{'select-unchecked': !option.checked, 'select-checked': option.checked, 'option-group-name': option.isGroupName }">
                                    <div class="select-content">
                                        <div class="checkbox"></div>
                                        <h4 class="select-name option-name">
                                            {{option.text}}
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- show if groupedOptions are NOT present -->
            <div ng-show="question.groupedOptions.length == 0">
                <h3 ng-show="question.hoisted_options.length > 0">Other Activities</h3>
                <ul  ng-class="{'option-checked': question.answerSelected, 'option-unchecked': !question.answerSelected  }" class="select choices list-unstyled">
                    <li class="option" ng-click="$parent.onMultiSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                        <div class="select-content">
                            <div class="checkbox"></div>
                            <h4 class="select-name option-name">
                                {{option.text}}
                            </h4>   

                        </div>
                    </li>
                    <li ng-show="question.allow_other" ng-click="onMultiSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked }" ng-model="question.otherAnswer.text">
                        <div class="select-content">
                            <h4 class="select-name option-name">
                                Other
                            </h4>
                        </div>
                    </li>
                </ul>
            </form>
            <input class="form-control" type="text" placeholder="Other Option" ng-show="question.allow_other && question.otherOption.checked" ng-model="question.otherAnswer" />
        </div>
    </div>
    <div ng-switch-when="map-multipoint">
        <div ng-include="viewPath + 'views/mapQuestion.html'"></div>
    </div>
    <div ng-switch-when="map-multipolygon">
        <div map question="question" style="margin-bottom: 10px;"></div>
    </div>
    <div ng-switch-when="grid">
        <div ng-include="viewPath + 'views/gridQuestion.html'"></div>
    </div>
</div>
