<div ng-switch on="question.type">
    <div ng-switch-when="pennies">
        <div ng-include="viewPath + 'views/pennies.html'"></div>
    </div>
    <div ng-switch-when="info">
        <div class="info-content" ng-include="viewPath + infoView"></div>
    </div>
    <div ng-switch-when="integer">
        <div class="question">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" step="1" min="{{question.integer_min}}" max="{{question.integer_max}}" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="question.required" />
        </div>
    </div>
    <div ng-switch-when="number-with-unit">
        <div class="question number-with-unit">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" min="{{question.integer_min}}" max="{{question.integer_max}}" step="any" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="question.required" />
            <div class="select-wrapper form-control" ng-class="{ 'unit-selected': question.unit }">
                <select ng-model="question.unit" class="unit-select" placeholder="{{ question.label }}">
                    <option value="">Select Units</option>
                    <option ng-repeat="option in question.options">{{ option.text }}</option>
                </select>
                <span class="down glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
    </div>
    <div ng-switch-when="number">
        <div class="question">
            <input name="integerAnswer" ng-model="question.answer" class="form-control" placeholder="{{ question.label }}" type="number" min="{{question.integer_min}}" max="{{question.integer_max}}" step="any" ui-event="{ keypress : 'onlyDigits($event)' }" ng-required="question.required" />
        </div>
    </div>
    <div ng-switch-when="auto-single-select">
        <div class="question">
            <select ui-select2 ng-model="answer" class="form-control" placeholder="{{ question.label }}" required>
                <option value="">{{ question.label }}</option>
                <option ng-repeat="option in question.options" value="{{ $index }}">
                    {{ option.text || option.name }}
                </option>
                <option selected value="other">Other</option>
            </select>
            <input class="form-control" type="text" placeholder="{{ question.label }}" ng-show="answer == 'other'" ng-model="otherAnswer" />
        </div>
    </div>
    <div ng-switch-when="text">
        <div class="question">
            <input class="form-control" type="text" placeholder="{{ question.label }}" ng-model="question.answer" />
        </div>
    </div>
    <div ng-switch-when="currency">
        <div class="question">

            <div class="input-prepend">
                <span class="add-on">$</span>
                <input class="form-control" type="number" step="any" placeholder="{{ question.label }}" ng-model="answer" />
            </div>

            <!-- <button type="submit" class="btn btn-primary btn-large btn-block button-block" ng-disabled="question.required && ! answer">continue</button> -->
        </div>
    </div>
    <div ng-switch-when="monthpicker">
        <div class="question">
            <input class="form-control datepicker" type="month" placeholder="{{ question.label }}" ng-model="question.answer" />
        </div>
    </div>
    <div ng-switch-when="datepicker">
        <div class="question">
            <input class="form-control datepicker" type="date" placeholder="{{ question.label }}" ng-model="question.answer" />
        </div>
    </div>
    <div ng-switch-when="timepicker">
        <div class="question">
            <input class="form-control datepicker" type="time" placeholder="{{ question.label }}" ng-model="question.answer" />
        </div>
    </div>

    <div ng-switch-when="textarea">
        <div class="question">
            <textarea rows="5" placeholder="{{ question.label }}" ng-model="answer"></textarea>
        </div>
    </div>

    <div ng-switch-when="yes-no">
        <div class="question">
            <div class="select mrm">
                <ul ng-class="{'option-checked': $parent.question.answerSelected, 'option-unchecked': !$parent.question.answerSelected }">
                    <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                        <div class="select-content">
                            <div class="checkbox"></div>
                            <h4 class="select-name option-name">
                                {{ option.text || option.name }}
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
            <input class="form-control" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="question.otherAnswer" />
        </div>
    </div>

    <!-- Single-Select -->
    <div ng-switch-when="single-select">
        <div class="question">
            <div class="select mrm">
                <!-- with accordion (if groupOptions are present)-->
                <!-- NOTE:  section should be re-written to mirror multi-select accordion and to include other option that mirrors those in non-grouped single-select and grouped/non-grouped multi-select -->
                <accordion ng-show="question.groupedOptions.length">
                    <div ng-repeat="groupOption in question.groupedOptions" class="accordion-div">
                        <h3 ng-show="$parent.question.hoisted_options.length > 0">Other Activities</h3>
                        <accordion-group heading="{{groupOption.optionLabel}}">
                            <ul class="choices">
                                <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in groupOption.options" ng-class="{'select-checked': option.checked, 'option-group-name': option.isGroupName }">
                                    <div class="select-content">
                                        <h4 class="select-name option-name">
                                            {{option.text}}
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </accordion-group>
                    </div>
                    <div ng-show="question.allow_other" class="accordion-other-div">
                        <accordion-group heading="Other">
                            <ul class="choices">
                                <li class="option" ng-click="onSingleSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked }" ng-model="question.otherAnswer.text">
                                    <div class="select-content">
                                        <h4 class="select-name option-name">
                                            Other
                                        </h4>

                                    </div>
                                </li>
                            </ul>
                        </accordion-group>
                    </div>
                </accordion>

                <!-- show if groupedOptions are NOT present -->
                <div ng-show="question.groupedOptions.length == 0" ng-class="{'option-checked': $parent.question.answerSelected, 'option-unchecked': ! $parent.question.answerSelected }">
                    <ul class="list-unstyled">
                        <li class="option" ng-click="$parent.onSingleSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                            <div class="select-content">
                                <div class="checkbox"></div>
                                <h4 class="select-name option-name">
                                    {{ option.text || option.name }}
                                </h4>

                            </div>
                        </li>
                        <!-- <li class="option" ng-show="question.allow_other" ng-click="$parent.onSingleSelectClicked($parent.question.otherOption, $parent.question)" ng-class="{'select-checked': $parent.question.otherOption.checked, 'select-unchecked': ! $parent.question.otherOption.checked }">
                            <div class="select-content">
                                <div class="checkbox"></div>
                                <h4 class="select-name option-name">
                                    Other
                                </h4>
                            </div>
                        </li> -->
                    </ul>
                    <div ng-show="question.allow_other" ng-class="{'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }" class="other-option">
                        <div class="other-checkbox"></div>
                        <input class="select-content single-select-other" type="text" ng-class="{'with-text': question.otherAnswers[0]}" placeholder="Other" ng-model="question.otherAnswers[0]" />
                    </div>
                </div>

            </div>
            <!-- <input class="form-control" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="question.otherAnswer" /> -->
        </div>
    </div>

    <!-- Multi-Select -->
    <div ng-switch-when="multi-select">
        <div class="question">

            <!-- show if groupedOptions ARE present -->
            <div ng-show="question.groupedOptions.length != 0">
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="groupOption in question.groupedOptions">
                        <div class="panel-heading" ng-click="groupOption.open = !groupOption.open">
                            <h4 class="panel-title">
                                <a class="accordion-toggle">
                                  {{groupOption.optionLabel}}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ groupOption.optionLabel }}" class="panel-collapse collapse" ng-class="{ 'in': groupOption.open }">
                            <div class="panel-body">
                                <ul class="choices list-unstyled">
                                    <li class="option" ng-click="$parent.onMultiSelectClicked(option, $parent.question)" ng-repeat="option in groupOption.options" ng-class="{'select-unchecked': !option.checked, 'select-checked': option.checked, 'option-group-name': option.isGroupName }">
                                        <div class="select-content">
                                            <div class="checkbox"></div>
                                            <h4 class="select-name option-name">
                                                {{option.text}}
                                            </h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-show="question.allow_other">

                        <ul  ng-class="{'option-checked': question.answerSelected, 'option-unchecked': !question.answerSelected  }" class="select choices list-unstyled">
                            <li class="option" ng-click="onMultiSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked }" ng-model="question.otherAnswer.text">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle">
                                            Other
                                        </a>
                                    </h4>

                                </div>
                            </li>
                        </ul>

                        <!-- <div ng-show="question.allow_other && question.otherOption.checked" ng-class="{'other-input-selected': question.otherAnswer}">
                            <div ng-show="question.otherAnswer" class="other-checkbox"></div>
                            <input class="form-control multi-select-other" type="text" ng-class="{'with-text': question.otherAnswer}" placeholder="Enter Other Option Here" ng-model="question.otherAnswer" />
                        </div> -->

                        <div ng-show="question.allow_other && question.otherOption.checked" ng-class="{'other-input-selected': question.otherAnswers[0], 'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[0]}" placeholder="Other" ng-model="question.otherAnswers[0]" />
                        </div>
                        <div ng-show="question.allow_other && question.otherOption.checked && question.otherAnswers[0]" ng-class="{'other-input-selected': question.otherAnswers[1], 'select-checked': question.otherAnswers[1], 'select-unchecked': ! question.otherAnswers[1] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[1]}" placeholder="Other" ng-model="question.otherAnswers[1]" />
                        </div>
                        <div ng-show="question.allow_other && question.otherOption.checked && question.otherAnswers[1]" ng-class="{'other-input-selected': question.otherAnswers[2], 'select-checked': question.otherAnswers[2], 'select-unchecked': ! question.otherAnswers[2] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[2]}" placeholder="Other" ng-model="question.otherAnswers[2]" />
                        </div>
                        <div ng-show="question.allow_other && question.otherOption.checked && question.otherAnswers[2]" ng-class="{'other-input-selected': question.otherAnswers[3], 'select-checked': question.otherAnswers[3], 'select-unchecked': ! question.otherAnswers[3] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[3]}" placeholder="Other" ng-model="question.otherAnswers[3]" />
                        </div>
                        <div ng-show="question.allow_other && question.otherOption.checked && question.otherAnswers[3]" ng-class="{'other-input-selected': question.otherAnswers[4], 'select-checked': question.otherAnswers[4], 'select-unchecked': ! question.otherAnswers[4] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-grouped-other" type="text" ng-class="{'with-text': question.otherAnswers[4]}" placeholder="Other" ng-model="question.otherAnswers[4]" />
                        </div>


                    </div>
                </div>
            </div>

            <!-- show if groupedOptions are NOT present -->
            <div ng-show="question.groupedOptions.length == 0">
                <h3 ng-show="question.hoisted_options.length > 0">Other Activities</h3>
                <ul  ng-class="{'option-checked': question.answerSelected, 'option-unchecked': !question.answerSelected  }" class="select choices list-unstyled">
                    <li class="option" ng-click="$parent.onMultiSelectClicked(option, $parent.question)" ng-repeat="option in question.options" ng-class="{'select-checked': option.checked, 'select-unchecked': ! option.checked  }">
                        <div class="select-content">
                            <div class="checkbox"></div>
                            <h5 class="select-name option-name">
                                {{option.text}}
                            </h5>   

                        </div>
                    </li>
                    <!-- <li ng-show="question.allow_other" ng-click="onMultiSelectClicked(question.otherOption, question)" ng-class="{'select-checked': question.otherOption.checked, 'select-unchecked': ! question.otherOption.checked }" ng-model="question.otherAnswer.text">
                        <div class="select-content">
                            <h4 class="select-name option-name">
                                Other
                            </h4>
                        </div>
                    </li> --><!-- 
                    <li ng-show="question.allow_other" ng-click="onMultiSelectOtherClicked(question)" ng-repeat="n in range(5)" ng-class="{'select-checked': question.otherOption.checked, 'select-unchecked': ! question.otherOption.checked }">
                        <div ng-show="question.allow_other" ng-class="{'other-input-selected': question.otherAnswers[0], 'select-checked': question.otherAnswer[$index], 'select-unchecked': ! question.otherAnswer[$index] }">
                            <div class="other-checkbox"></div>
                            <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswer[$index]}" placeholder="Other Species" ng-model="question.otherAnswer[$index]" />
                        </div>
                    </li> -->

                </ul>


                <!-- tried putting this in loop but other field refused to accept input...only thought is that the length of the otherAnswers array had not been pre-defined...? -->
                <div ng-show="question.allow_other" ng-class="{'other-input-selected': question.otherAnswers[0], 'select-checked': question.otherAnswers[0], 'select-unchecked': ! question.otherAnswers[0] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswers[0]}" placeholder="Other" ng-model="question.otherAnswers[0]" />
                </div>
                <div ng-show="question.allow_other && question.otherAnswers[0]" ng-class="{'other-input-selected': question.otherAnswers[1], 'select-checked': question.otherAnswers[1], 'select-unchecked': ! question.otherAnswers[1] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswers[1]}" placeholder="Other" ng-model="question.otherAnswers[1]" />
                </div>
                <div ng-show="question.allow_other && question.otherAnswers[1]" ng-class="{'other-input-selected': question.otherAnswers[2], 'select-checked': question.otherAnswers[2], 'select-unchecked': ! question.otherAnswers[2] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswers[2]}" placeholder="Other" ng-model="question.otherAnswers[2]" />
                </div>
                <div ng-show="question.allow_other && question.otherAnswers[2]" ng-class="{'other-input-selected': question.otherAnswers[3], 'select-checked': question.otherAnswers[3], 'select-unchecked': ! question.otherAnswers[3] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswers[3]}" placeholder="Other" ng-model="question.otherAnswers[3]" />
                </div>
                <div ng-show="question.allow_other && question.otherAnswers[3]" ng-class="{'other-input-selected': question.otherAnswers[4], 'select-checked': question.otherAnswers[4], 'select-unchecked': ! question.otherAnswers[4] }">
                    <div class="other-checkbox"></div>
                    <input class="select-content multi-select-other" type="text" ng-class="{'with-text': question.otherAnswers[4]}" placeholder="Other" ng-model="question.otherAnswers[4]" />
                </div>

            </div>

            <!-- <div ng-show="question.allow_other && $parent.question.otherAnswers[$index-1]" ng-class="{'other-input-selected': otherAnswer, 'select-checked': otherAnswer, 'select-unchecked': ! otherAnswer }" ng-repeat="otherAnswer in question.otherAnswers">
                <div class="other-checkbox"></div>
                <input class="select-content multi-select-other" type="text" ng-class="{'with-text': otherAnswer}" placeholder="Other Species" ng-model="otherAnswer" />
            </div> -->

                
            <!-- 
            <div ng-show="question.allow_other && question.otherOption.checked" ng-class="{'other-input-selected': question.otherAnswer}">
                <div ng-show="question.otherAnswer" class="other-checkbox"></div>
                <input class="form-control multi-select-other" type="text" ng-class="{'with-text': question.otherAnswer}" placeholder="Enter Other Option Here" ng-model="question.otherAnswer" />
            </div> -->

        </div>
    </div>
    <div ng-switch-when="map-multipoint">
        <div ng-include="viewPath + 'views/mapQuestion.html'"></div>
    </div>
    <div ng-switch-when="map-multipolygon">
        <div map question="question" style="margin-bottom: 10px;"></div>
    </div>
    <div ng-switch-when="grid">
        <div ng-include="viewPath + 'views/gridQuestion.html'"></div>
    </div>
</div>
