
<!-- NETS -->

<div class="margin-top-10">
    <div class="col-xs-12 col-md-6"> 
        <div class="well">
            <div class="row margin-top-10">
                <div class="col-sm-12">
                    <strong>NETS</strong>
                </div>
            </div> 

            <div class="row">
                <div class="col-sm-12 margin-top-10">
                    <strong>Gear Type: </strong>
                    <span class="answer">{{ getAnswer('type-nets')['text'] }}</span>
                </div> 
            </div>

            <div class="row">
                <div class="col-xs-6 margin-top-10">
                    <strong>Length: </strong>
                    <span class="answer">{{ getAnswer('length-nets')['value'] }}</span>
                    <span class="answer">{{ getAnswer('length-nets')['unit'] }}</span>
                </div>  
                <div class="col-xs-6 margin-top-10">
                    <strong>Mesh: </strong>
                    <span class="answer">{{ getAnswer('mesh-inches') }} inches</span>
                </div>  
            </div>

            <div class="row margin-top-10">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <strong># of Nets: </strong>
                    <span class="answer">{{ getAnswer('number-of-nets') }}</span>
                </div> 
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="margin-top-10">
                        <strong>Hours Fished: </strong>
                        <span class="answer">{{ getAnswer('hours-fished-nets') }}</span>
                    </div>
                    <div class="margin-top-10">
                        <strong>Bottom Depth: </strong>
                        <span class="answer">{{ getAnswer('bottom-depth-nets')['value'] }}</span>
                        <span class="answer">{{ getAnswer('bottom-depth-nets')['unit'] }}</span>
                    </div>
                </div> 
                <div class="col-sm-6 margin-top-10">
                    <div>
                        <strong>Area 1 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-1-fished-nets') }}</span>
                    </div>
                    <div>
                        <strong>Area 2 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-2-fished-nets') }}</span>
                    </div>
                    <div>
                        <strong>Area 3 Fished: </strong>
                        <span class="answer">{{ getAnswer('area-3-fished-nets') }}</span>
                    </div>
                </div>  
            </div>                

            <div class="row margin-top-10">
                <div class="col-xs-6 margin-top-10">
                    <strong>NET SPECIES </strong>
                </div> 
                <div class="col-xs-6 margin-top-10">
                    <strong>WHOLE POUNDS</strong>
                </div>  
            </div>

            <div ng-repeat="answer in getAnswer('weight-nets')">
                <div ng-show="answer.showGroupName">        
                    <div class="row">
                        <div class="col-xs-6">
                            <span>{{answer.showGroupName | uppercase}}</span>
                        </div>
                        <div class="col-xs-6">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span class="margin-left-10">{{ answer.text }}</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="pull-right">{{ answer.wholepounds }}</span>    
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end NETS Report --> 
