<div class="input-group">
    <input ng-hide="visible" class="form-control password text" type="password" placeholder="{{placeholderText || 'enter your password...'}}" ng-model="passwordText" type="password" required>
    <input ng-show="visible" class="form-control password dots" type="text" placeholder="{{placeholderText || 'enter your password...'}}" ng-model="passwordText" type="password" required>
     <span class="input-group-btn">
         <a class="btn eye" ng-hide="visible" ng-click="toggleVisible()"><span class="glyphicon glyphicon-eye-open"></span></a>
         <a class="btn eye" ng-show="visible" ng-click="toggleVisible()"><span class="glyphicon glyphicon-eye-close"></span></a>
     </span>
 </div>
 