<div class="done-modal">
    <div class="modal-body">
        <i class="icon-warning-sign icon-3x pull-left col-icon"></i>
        <p class="col-p modal-heading">Primary activity required</p>
        <p class="col-p">Please add at least one location where you engaged in your primary activity.</p> 
        <p class="col-p">You indicated that your primary activity was: <strong>{{ primaryActivityText }}</strong>.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-large btn-primary" ng-click="close()">OK</button>
    </div>
</div>

