<div>
  <div class="alert alert-info">The following information will be submitted with each report</div>

  <div class="input-group">
    <div class="input-row">
      <input type="text" placeholder="enter your first name..." data-ng-model="user.registration.first_name"
      required>
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your last name..." data-ng-model="user.registration.last_name"
      required>
    </div>
  </div>
  <div class="input-group">              
    <div class="input-row">
      <input type="text" placeholder="enter your vessel #..." data-ng-model="user.registration.vessel_num"
      required>
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your license #..." data-ng-model="user.registration.license_num"
      required>
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your HMS species permit #..." data-ng-model="user.registration.species_permit_num"
      required>
    </div>
  </div>
  <label>Partner 1</label>
  <div class="input-group">              
    <div class="input-row">
      <input type="text" placeholder="enter your partner's first name..." data-ng-model="user.registration.partner1_first_name">
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your partner's last name..." data-ng-model="user.registration.partner1_last_name">
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your partner's license #..." data-ng-model="user.registration.partner1_license_num">
    </div>
  </div>
  <label>Partner 2</label>
  <div class="input-group">
    <div class="input-row">
      <input type="text" placeholder="enter your partner's first name..." data-ng-model="user.registration.partner2_first_name">
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your partner's last name..." data-ng-model="user.registration.partner2_last_name">
    </div>
    <div class="input-row">
      <input type="text" placeholder="enter your partner's license #..." data-ng-model="user.registration.partner2_license_num">
    </div>
  </div>
</div>