<div ng-switch on="question.type">
    <div ng-switch-when="pennies">
        <div ng-include="'/static/survey/views/pennies.html'"></div>
    </div>
    <div ng-switch-when="info">
        
        <div class="info-content" ng-include="infoView"></div>
        
        <button class="btn btn-primary btn-block btn-large" ng-click="gotoNextQuestion()">continue</button>
    </div>
    <div ng-switch-when="integer">
        <form class="question" ng-show="survey.questions.length" ng-submit="answerQuestion(answer)">
            <input
                name="integerAnswer"
                ng-model="answer"
                class="input-block-level"
                placeholder="{{ question.label }}"
                type="number"
                min="{{question.integer_min}}"
                max="{{question.integer_max}}"
                ui-event="{ keypress : 'onlyDigits($event)' }"
                autofocus
                required/>
            <button type="submit" class="btn btn-primary btn-large btn-block" ng-disabled="question.required && ! answer">continue</button>
        </form>
    </div>
    <div ng-switch-when="auto-single-select">
        <form class="question" ng-show="survey.questions.length" ng-submit="answerAutoSingleSelect(answer, otherAnswer)">
            <select
                ui-select2
                ng-model="answer"
                class="input-block-level"
                placeholder="{{ question.label }}"
                autofocus
                required>
                <option value="">{{ question.label }}</option>
                <option 
                    ng-repeat="option in question.options" 
                    value="{{ $index }}">
                        {{ option.text || option.name }}
                </option>
                <option value="other">Other</option>
            </select>
            <input class="input-block-level" type="text" placeholder="{{ question.label }}" ng-show="answer == 'other'" ng-model="otherAnswer" autofocus/>   
            <button type="submit" class="btn btn-primary btn-large btn-block">continue</button>
        </form>
    </div>
    <div ng-switch-when="text">
        <form class="question" ng-show="survey.questions.length" ng-submit="answerQuestion(answer)">
            <input class="input-block-level" type="text" placeholder="{{ question.label }}" ng-model="answer" autofocus/>
            <button type="submit" class="btn btn-primary btn-large btn-block" ng-disabled="question.required && ! answer">continue</button>
        </form>
    </div>
    <div ng-switch-when="textarea">
        <form class="question" ng-show="survey.questions.length" ng-submit="answerQuestion(answer)">
            <textarea rows="5" placeholder="{{ question.label }}" ng-model="answer" autofocus></textarea>
            <button type="submit" class="btn btn-primary btn-large btn-block" ng-disabled="question.required && ! answer">continue</button>
        </form>
    </div>
    <div ng-switch-when="single-select">
        <form class="question" ng-show="survey.questions.length" ng-submit="answerSingleSelect(question.options, question.otherAnswer)">
            <div class="todo mrm">
                <ul>
                  <li 
                    ng-click="$parent.onSingleSelectClicked(option, $parent.question)"
                    ng-repeat="option in question.options"
                    ng-class="{'todo-done': option.checked }">
                    <!-- <div class="todo-icon fui-man-24"></div> -->
                    <div class="todo-content">
                      <h4 class="todo-name">
                        {{option.text}}
                      </h4>
                      
                    </div>
                  </li>
                  <li 
                    ng-show="question.allow_other"
                    ng-click="$parent.onSingleSelectClicked($parent.question.otherOption, $parent.question)"
                    ng-class="{'todo-done': $parent.question.otherOption.checked }">
                    <!-- <div class="todo-icon fui-man-24"></div> -->
                    <div class="todo-content">
                      <h4 class="todo-name">
                        Other
                      </h4>
                    </div>
                  </li>
                </ul>
              </div>
            <input class="input-block-level" type="text" placeholder="Other Option" ng-show="question.otherOption.checked" ng-model="otherAnswer" autofocus/>             
            <button type="submit" class="btn btn-large btn-block" ng-class="{'btn-primary': isAnswerValid, disabled: !isAnswerValid }">continue</button>
        </form>
    </div>
    <div ng-switch-when="multi-select">
        <form class="question" ng-submit="answerMultiSelect(question)">
            <div class="todo mrm">
                <div ng-show="question.hoisted_options.length">
                    <h3>Activities You Selected</h3>
                    <ul class="hoisted">
                        <li 
                          ng-click="option.checked = ! option.checked"
                          ng-repeat="option in question.hoisted_options"
                          ng-class="{'todo-done': option.checked }">
                          <!-- <div class="todo-icon fui-man-24"></div> -->
                          <div class="todo-content">
                            <h4 class="todo-name">
                              {{option.text}}
                            </h4>      
                          </div>
                        </li>
                    </ul>
                </div>
                <h3 ng-show="question.hoisted_options.length > 0">Other Activities</h3>
                <ul class="choices">
                  <li 
                    ng-click="option.checked = ! option.checked"
                    ng-repeat="option in question.options"
                    ng-class="{'todo-done': option.checked }">
                    <!-- <div class="todo-icon fui-man-24"></div> -->
                    <div class="todo-content">
                      <h4 class="todo-name">
                        {{option.text}}
                      </h4>
                      
                    </div>
                  </li>
                  <li 
                    ng-show="question.allow_other"
                    ng-click="otherOption.checked = ! otherOption.checked"
                    ng-class="{'todo-done': otherOption.checked }">
                    <!-- <div class="todo-icon fui-man-24"></div> -->
                    <div class="todo-content">
                      <h4 class="todo-name">
                        Other
                      </h4>
                      
                    </div>
                  </li>
                </ul>
              </div>

            <input class="input-block-level" type="text" placeholder="Other Option" ng-show="otherOption.checked" ng-model="question.otherAnswer" autofocus/> 
            <button type="submit" class="btn btn-primary btn-large btn-block" ng-hide="dialog">continue</button>
        </form>
    </div>
    <div ng-switch-when="map-multipoint">
        <div ng-include="'/static/survey/views/mapQuestion.html'"></div>
    </div>
    <div ng-switch-when="grid">
        <div ng-include="'/static/survey/views/gridQuestion.html'"></div>
    </div>
</div>

