<h1>{{ survey.name }}</h1>
<div class="row-fluid">
    <div class="span4">
        <div class="well">
            <h2>{{ survey.num_registered |number}} registered</h2>
            <ul class="unstyled">
                <li><strong>{{ survey.num_no_starts |number}}</strong> not started ({{(survey.num_no_starts/survey.num_registered)*100 |number:1}}%)</li>
                <li><strong>{{ survey.num_registered - survey.completes - survey.num_no_starts | number}}</strong> partial ({{((survey.num_registered - survey.completes - survey.num_no_starts)/survey.num_registered) * 100|number:1}}%)</li>
                <li><strong>{{ survey.completes |number}}</strong> complete ({{(survey.completes/survey.num_registered)*100 |number:1}}%)</li>
            </ul>
            <ul class="unstyled">
                <li><strong>{{ survey.activity_points | number }}</strong> activity points</li>
                <li><strong>{{ survey.activity_points / survey.completes |number:2 }}</strong> activity points per survey</li>
            </ul>





            <h2>{{ survey.num_registered |number}} surveys taken</h2>
            <ul class="unstyled">
                <li><strong>{{ survey.completes |number}}</strong> complete ({{(survey.completes/survey.num_registered)*100 |number:2}}%)</li>
                <li><strong>{{ survey.num_registered - survey.completes | number}}</strong> incomplete ({{((survey.num_registered - survey.completes)/survey.num_registered) * 100|number:2}}%)</li>
            </ul>
            <ul class="unstyled">
                <li><strong>{{ survey.activity_points | number }}</strong> activity points</li>
                <li><strong>{{ survey.activity_points / survey.completes |number:2 }}</strong> activity points per survey</li>
            </ul>
        </div>
    </div>
    <div class="span8">
        <!-- <div class="row-fluid">
            <div heatmap question="question.slug"></div>
        </div> -->
        <div class="row-fluid" ng-repeat="question in survey.questions">
            <div  ui-if="question.visualize">
                <div class="clearfix">
                    <select class="pull-right" placeholder="filter by {{ question.slug }}" multiple=true ng-model="question.filters[question.slug]" ui-select2 style="width: 200px">
                        <option value="{{answer.answer}}" ng-repeat="answer in question.answer_domain">
                            <strong>{{answer.answer}}</strong>
                        </option>
                    </select>
                    <div ng-repeat="filterQuestion in question.filterQuestions">
                        <select class="pull-right" placeholder="filter by {{ filterQuestion.slug }}" multiple=true ng-model="question.filters[filterQuestion.slug]" ui-select2 style="width: 200px">
                            <option value="{{answer.answer}}" ng-repeat="answer in filterQuestion.answer_domain">
                                <strong>{{answer.answer}}</strong>
                            </option>
                        </select>
                    </div>
                    <dl ng-repeat="(slug, filter) in question.filters">
                        <dt>{{ slug }}:</dt>                           
                        <dd ng-show="filter.length" ng-repeat="filterItem in filter">{{filterItem}}</dd>
                        <dd ng-hide="filter.length">all</dd>
                    </dl>
                </div>
                <div ui-if="question.report_type == 'heatmap' || question.report_type == 'heatmap-distribution'">
                    <div heatmap question="question" filteritems="question.filters" radius="1600" class="heatmap"></div>
                </div>
                <div ui-if="question.report_type == 'distribution' || question.report_type == 'heatmap-distribution'">
                    <distribution filter="question.filters" question="question" survey-slug="survey.slug"></distribution>
                </div>
            </div>
        </div>
    </div>
</div>
