<h1>{{ survey.name }}</h1>
<div class="row-fluid">
    <div class="span4">
        <div class="well">
            <h2>{{ survey.survey_responses |number}} surveys taken</h2>
            <ul class="unstyled">
                <li><strong>{{ survey.completes |number}}</strong> complete ({{(survey.completes/survey.survey_responses)*100 |number:2}}%)</li>
                <li><strong>{{ survey.survey_responses - survey.completes | number}}</strong> incomplete ({{((survey.survey_responses - survey.completes)/survey.survey_responses) * 100|number:2}}%)</li>
            </ul>
        </div>
    </div>
    <div class="span8">
        <div class="row-fluid" ng-repeat="question in survey.questions">
            <div  ui-if="question.visualize">
                <h4>
                    <div class="pull-right">
                        <select ng-model="question.filterAnswer">
                            <option value="">all</option>
                            <option value="{{answer.answer}}" ng-repeat="answer in getQuestionBySlug(question.options_from_previous_answer).answer_domain">
                                <strong>{{answer.answer}}</strong> ({{answer.count}})
                            </option>
                        </select>
                    </div>
                    Distribution by {{ question.slug }} for {{ question.filterAnswer || 'all' }}
                </h4>

                <distribution filter="question.filterAnswer" question="question" survey-slug="survey.slug"></distribution>
            </div>
        </div>
    </div>
</div>
