<div id="history-wrap" class="menu-page">
    <div mobilemenu></div>
    <!-- Begin page content -->
    <div class="container">
        
        <div ng-show="showErrorMessage">
            <div class="error">Problem</div>
            <div>There was a problem loading your surveys.</div>
            <div>Please sign in again.</div>
            <a class="btn btn-mairn btn-default btn-lg btn-block btn-primary" href="#/signin">Sign In</a>
        </div>

        <div ng-show="showSurveyList">
            <h4>Submitted Reports <a ng-disabled="!updateEnabled" class="pull-right btn btn-default btn-lg btn-main" ng-click="updateSurveyList()">UPDATE</a></h4>

            <h4>From:</h4>
            <div class="input-group">
                <input class="form-control datepicker" type="date" ng-model="surveyFilter.start" />
                <!-- <span class="input-group-btn btn-lg"><span class="glyphicon glyphicon-calendar"></span></span> -->
            </div>
            
            <h4>To:</h4>
            <div class="input-group">
                <input class="form-control datepicker" type="date" ng-model="surveyFilter.end" />
                <!-- <span class="input-group-btn btn-lg"><span class="glyphicon glyphicon-calendar"></span></span> -->
            </div>
            
            <div style="margin-top: 20px">

                <div class="report-list panel panel-default" ng-repeat="respondent in respondentList | orderBy: 'ts':true">
                    <div class="panel-heading" ng-click="openRespondent(respondent)" ng-class="{ 'darkSalmonBackground': respondent.open }">
                        <h4 class="panel-title">
                            {{respondent.survey_title}}
                        </h4>
                    </div>
                    <div id="{{ respondent.survey_title }}" class="panel-collapse collapse" ng-class="{ 'in': respondent.open }">
                        <div class="panel-body">
                            <div ng-include="'views/surveyAnswers.html'"></div>
                        </div>
                    </div>
                </div>

                <a ng-show="next20" class="btn btn-default btn-lg btn-block panel-heading" ng-click="showNext20(surveyFilter)">Show More...<i class="icon-spinner icon-spin" ng-show="gettingNext20"></i></a>
            </div>

        </div>  

    </div>

    <div ng-hide="showSurveyList || showErrorMessage" ng-include="viewPath + 'views/spinner.html'"></div>

</div>


<div id="history-footer">
    <a class="btn pull-left" href="#/history"><span class="glyphicon glyphicon-chevron-left"></span></a>
</div>
