<table class="table">
<tr ng-repeat="response in respondent.responses">
    <td><strong>{{response.question.label}}:</strong></td>
    <td><span ng-switch on="response.question.type">
        <span ng-switch-default>{{response.answer}}</span>
        <span ng-switch-when="single-select">{{response.answer.text}}</span>
        <span ng-switch-when="yes-no">{{response.answer.text}}</span>
        <span ng-switch-when="datepicker">{{response.answer| date: 'dd-MM-yyyy HH:mm'  }}</span>
        <ul class="list" ng-switch-when="multi-select">
            <li ng-repeat="answer in response.answer">{{answer.text}}</li>
        </ul>
        <table class="table" ng-switch-when="grid">
            <thead>
                <th></th>
                <th ng-repeat="grid_col in response.question.grid_cols"><strong>{{grid_col.text}}</strong></th>
            </thead>
            <tbody>
                <tr ng-repeat="answer in response.answer">
                    <td>{{ answer.text }}</td>
                    <td ng-repeat="grid_col in response.question.grid_cols" ng-hide="grid_col.type=='multi-select'">{{answer[grid_col.label.replace('-', '')]}}{{grid_col.label.replace('-', '')}}</td>
                    <td ng-repeat="grid_col in response.question.grid_cols" ng-show="grid_col.type=='multi-select'">
                        <span ng-repeat="multiAnswer in answer[grid_col.label.replace(''-'', '')]">{{multiAnswer}}<span ng-hide="$last">,</span> </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </span></td>
</tr>
</table>