<div class="respondant">
    <div class="row-fluid">
        <div class="offset9 span3">
            <div class="progress">
              <div class="bar" style="width: {{ ((survey.questions.indexOf(question) + 1) / survey.questions.length) * 100 }}%;"></div>
            </div>
        </div>
    </div>
    <a href="/admin/survey/question/{{question.id}}/" ng-show="isAuthenticated">edit</a>
    <h2 class="question-title" ng-hide="question.type == 'info' || question.type == 'map-multipoint'" >
        {{ question.displayTitle }}
        
    </h2>

    <div ng-include="'/static/survey/views/questionTypes.html'"></div>
</div>