<div id="wrap" class="menu-page">
    <!-- Fixed navbar -->
    <div mobilemenu></div>
    <!-- Begin page content -->
    <div class="container">
        <div class="loading-indicator" ng-show="hideSurveys">
            <h3>Refreshing Reports...</h3>
            <div class="bar">
                <i class="sphere"></i>
            </div>

        </div>
        
        <ul class="list-unstyled" ng-hide="hideSurveys">
            <li ng-repeat="survey in surveys">
                <a type="button" class="btn btn-main btn-default btn-lg btn-block" href="#/survey/{{survey.slug}}/1/offline">
                    {{ survey.name }}
                </a>
            </li>
        </ul>
    </div>
</div>