<header class="bar-title" titlebar></header>
<mobilemenu user="user"></mobilemenu>
<div class="content">
  <div class="content-padded">
        <h2>
            Surveys for {{ user.username }}
        </h2>
        <div ng-hide="surveys" ng-show="hideSurveys">
            <strong>Loading Surveys</strong>
            <!-- <a class="button button-block">Load Surveys</a> -->
        </div>
    </div>
    <div ng-hide="hideSurveys">
        <ul class="list" ng-hide="hideSurveys">
            <li ng-repeat="survey in surveys">
                <a href="#/survey/{{survey.slug}}/{{survey.questions[0].slug}}/offline">
                    {{ survey.name }}
                    <br/><span class="label label-success">updated: {{survey.updated_at |date: 'dd-MM-yyyy HH:mm' }}</span>
                    <span class="chevron"></span>
                </a>
            </li>
        </ul>
        <div ng-show="user.is_staff">
            <a class="btn btn-block btn-large" ng-click="updateSurveys()">update surveys</a>
        </div>
    </div>
</div>