<div ng-show="panes.search.showing" class="modal-zoomto">

    <div class="not-for-phone">
        <div class="modal-header">
     
             <p class="question-title">Search for a location at or near your activities.</p>
             <form class="form-search">
                 <div class="control-group">
                     <i ng-show="!showSpinner" class='icon-search icon-2x'></i>
                     <i ng-show="showSpinner" class='icon-spinner icon-spin icon-2x'></i>
                     <input type="text" id="search-query" class="search-query" placeholder="Search" ng-model="searchTerm" autofocus/>
                 </div>
             </form>
             <p class="subtext">Or <a ng-click="show('mapUsage')">find your location using the map</a>.</p>
             
         </div>
         <div class="modal-body">        
             <h4 ng-show="showNoResults" class="noresults-label">No Results</h4>
     
             <ul class="nav nav-tabs nav-stacked results" ng-show="results.length > 0">    
                 <li ng-click="setZoomToPlace(result); show('mapUsage');" ng-show="searchTerm && results.length > 0" ng-repeat="result in results"><a><strong>{{ result.name }}</strong> ({{ result.county }} County)</a></li>
             </ul>
         </div>
     </div> 

     <div class="for-phone">
        <div class="modal-header">
            <p class="question-title">Search for a location at or near your activities.</p>
            <p class="subtext">Or <a ng-click="show('mapUsage')">find your location using the map</a>.</p>
        </div>
        <div class="modal-body no-footer">

            <form class="form-search">
                <div class="control-group">
                    <i ng-show="!showSpinner" class='icon-search icon-2x'></i>
                    <i ng-show="showSpinner" class='icon-spinner icon-spin icon-2x'></i>
                    <input type="text" id="search-query" class="search-query" placeholder="Search" ng-model="searchTerm" autofocus/>
                </div>
            </form>

            <h4 ng-show="showNoResults" class="noresults-label">No Results</h4>

            <ul class="nav nav-tabs nav-stacked results" ng-show="results.length > 0">    
                <li ng-click="setZoomToPlace(result); show('mapUsage');" ng-show="searchTerm && results.length > 0" ng-repeat="result in results"><a><strong>{{ result.name }}</strong> ({{ result.county }} County)</a></li>
            </ul>
        </div>
     </div>
    
</div>

<div ng-show="panes.mapUsage.showing" class="modal-map-usage">
    <div class="modal-body">
        <h4>Next steps:</h4>
        <ol>
            <li>Zoom in closely to ensure accurate placement of activity markers.
                <ul>
                    <li class="not-for-phone">Click the zoom buttons&nbsp;&nbsp;<img class="img-in-paragraph" src="/static/images/mapmodals/zoombuttons.png">&nbsp;&nbsp;or search <i class="icon-search icon-large icon-in-paragraph"></i> for a location by name.</li>
                    <li class="for-phone">At any time you can tap <i class="icon-search icon-large icon-in-paragraph"></i> to search for a location by name.</li>
                </ul>
            </li>
            <li>
                <p>Drag the map to focus the crosshair&nbsp;&nbsp;<img class="img-in-paragraph" src="/static/images/mapmodals/crosshair_white.png">&nbsp;&nbsp;over your location.</p>
            </li>
            <li>
                <p>Click <i class="icon-map-marker icon-large icon-in-paragraph"></i> to add a location</p>
            </li>
        </ol>

        <!-- <p>Please add an activity marker by dragging the map and zooming in using the (plus minus button graphic here) button. Please zoom in closely to ensure accurate placement of the activity marker. You may also find and zoom into a location by using the search bar above the map at any time.</p> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-large pull-left" ng-click="show('search')">Back</button>
        <button class="btn btn-large btn-primary" ng-click="close()">OK</button>
    </div>
</div>
