<p ng-hide="survey.questions.length">This survey has no questions.</p>
<form class="question" name="questionForm" ng-show="survey.questions.length" ng-submit="answerQuestion()">
	<h2>{{ question.title }}</h2>
	<span class="subtitle pull-right">{{ survey.questions.indexOf(question) + 1 }} of {{ survey.questions.length }}</span>

	<div ng-switch on="question.type">
		<div ng-switch-when="text">
			<input class="input-block-level" type="text" placeholder="{{ question.label }}" ng-model="answer" autofocus/>
		</div>
		<div ng-switch-when="single-select">
			<label class="radio" ng-repeat="option in question.options">
				<input type="radio">
				{{ option }}
			</label>
		</div>
		<div ng-switch-when="integer">
				<input
					name="integerAnswer"
					ng-model="answer"
					class="input-block-level"
					placeholder="{{ question.label }}"
					type="number"
					min="0"
					max="150"
					ui-event="{ keypress : 'onlyDigits($event)' }"
					required/>
		</div>
		<div ng-switch-when="auto-single-select">
				<select
					ui-select2
					ng-model="answer"
					class="input-block-level"
					placeholder="{{ question.label }}"
					required>
					<option value="">Pick a state</option>
					<option value="NY">New York</option>
					<option value="NJ">New Jersey</option>
					<option value="DE">Delaware</option>
					<option value="MD">Maryland</option>
					<option value="VI">Virginia</option>
					<option value="DC">District of Columbia</option>
				</select>
		</div>
	</div>

	<button type="submit" class="btn btn-primary btn-block">continue</button>
</form>
