<div class="row-fluid">
    <div class="span12">
        <div leaflet center="map.center"  zoom="map.zoom" marker="map.marker" multimarkers="locations" popupfield="'answers'" multimarkersedit="true" editmarker="editMarker"></leaflet>
    </div>
</div>
<div class="row-fluid user-controls confirmation" ng-hide="activeMarker == false">
    <h2 class="pull-left">Is this location correct?</h2>
    <a class="btn btn-large btn-primary pull-right confirm" ng-click="confirmLocation()">Yes</a>
    <a class="btn btn-large pull-right cancel" ng-click="cancelConfirmation()">No, let's try again</a>
</div>

<div class="row-fluid user-controls">
    <button class="btn btn-large btn-primary pull-right" ng-click="addMarker()" ng-show="activeMarker == false && $parent.map.zoom >= question.min_zoom"><i class="icon-plus"></i> Add Location</button>
    <div ng-show="activeMarker == false && $parent.map.zoom < question.min_zoom">
        <h2 class="pull-right">Please zoom in to ensure accurate placement.</h2>
    </div>
    <button class="btn btn-large pull-left" ng-click="showActivities()" ng-show="activeMarker == false"><i class="icon-list"></i> My Activities</button>
</div>
<div class="row-fluid user-controls" ng-show="activeMarker == false && locations.length > 0">
    <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="answerQuestion(locations)">continue</button>
</div>
<div style="display:none">
    <!-- testing controls -->
    <input ng-model="map.zoom" />
    <input ng-model="map.marker.lat" />
    <input ng-model="map.marker.lng" />
</div>
