<div class="row-fluid">
    <div class="span6">

        <h2>Respondant Info</h2>
        <dl>
            <dt>email</dt>
            <dd>{{ response.email }}</dd>
            <dt>timestamp</dt>
            <dd>{{ response.ts }}</dd>
        </dl>
        <h2>Responses</h2>
        <div ng-repeat="answer in response.responses">
            <div ng-switch on="answer.question.type">
                <div ng-switch-default>
                    <dl class="{{ answer.question.slug }}">
                        <dt>{{ answer.question.title }}</dt>
                        <dd>{{ answer.answer }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <leaflet multimarkers="mapResponse" center="map.center" zoom="map.zoom" popupfield="'answers'"></leaflet>
    </div>
</div>