<div class="modal-header modal-zoomto">
    <p class="question-title">Start by searching for a place at or near one of your activity locations.</p>
    <!-- <p><strong>Note:</strong>To ensure accuracy, you must zoom in closely when placing activity markers.</p> -->
    <p>
      <form class="form-search">
        <div class="control-group">
            <label ng-show="!showSpinner" for="search-query"><i class='icon-search icon-2x'></i></label>
            <label ng-show="showSpinner" for="search-query"><i class='icon-spinner icon-spin icon-2x'></i></label>
            <input type="text" id="search-query" class="search-query" placeholder="Search..." ng-model="searchTerm" autofocus>
        </div>
      </form>
    </p>
</div>
<div class="modal-body">
    
    <ul class="nav nav-tabs nav-stacked">
        <li ng-show="results.length == 0">No Results</li>
        <li ng-click="zoomTo(result)" ng-show="searchTerm && results.length > 0" ng-repeat="result in results"><a><strong>{{ result.name }}</strong> ({{ result.county }} County)</a></li>
    </ul>
</div>
<div class="modal-footer">
    <p ng-show="results.length > 0">Showing {{ results.length }} of {{ meta.total_count }} results</p>
    <br ng-hide="results == 0">
    <button ng-click="close()" class="btn btn-primary">
        Close
    </button>
</div>